.dressCode{
    display: flex;
    flex-direction: column;
    margin-bottom: -37%;
}

.dressCodeContainer {
    align-items: flex-start;
    display: flex;               /* Use Flexbox to align children side by side */
    position: relative;
    width: 100%;                 /* Full width of the parent */
}

.photoContainer {
    flex: 0 0 56%;               /* Flex-grow: 0, flex-shrink: 0, flex-basis: 55% */
    height: 100%;                /* Full height of the container */
    z-index: 2;
}

.separatorContainer {
    flex: 0 0 45%;               /* Flex-grow: 0, flex-shrink: 0, flex-basis: 45% */
    height: 100%;                /* Full height of the container */
    display: flex;               /* Optional if you want to center content in this div */
    justify-content: center;     /* Center the image */
    align-items: center;         /* Vertically align */
    background-size: cover;
    z-index: 2;
}

.dressCodeInfoContainer {
    background-color: white; /* White background */
    color: #20533C;
    padding-bottom: 5%;
    padding-top: 50%;          /* Padding for spacing */
    position: relative;
    transform: translateY(-32%);
    width: 100%;            /* Full width of the container */
}

.dressCodeHeader{
    font-family: "libre Baskerville", serif;
    font-size: 30px;
    text-align: center;
}

.dressCodeText{
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

.colorContainer{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.colorContainerLineLeft{
    flex: 0 0 32%;
    padding-left: 2%;
}

.colorContainerLineRight{
    flex: 0 0 32%;
    padding-right: 2%;
}

.colorContainerText{
    flex: 0 0 36%;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.circlesContainer {
    align-items: center;
    display: flex;          /* Use flex to arrange circles */
    justify-content: center; /* Center the circles horizontally */
    margin: 20px 0;       /* Margin above and below */
}

.circlesBlockContainer{
    align-items: center;
    display: flex;                 /* Use flex to arrange circles */
    flex-direction: column;
    justify-content: center;       /* Center the circles horizontally */
    margin: 0 15px;               /* Margin above and below */
    text-align: center;
}

.circleText{
    font-size: 14px;
    font-weight: 300;
}

.circleWhite, .circleRed, .circleBlack {
    height: 32px;          /* Set height of circles */
    border-radius: 50%;    /* Make them circular */
    border: 1px solid dimgray;
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);*/
    margin-bottom: 2px;
    width: 32px;           /* Set width of circles */
}

.circleWhite {
    background-color: white; /* Green circle */
}

.circleRed {
    background-color: red;   /* Red circle */
}

.circleBlack {
    background-color: black;  /* Blue circle */
}